.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-logo-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  height: 50px;
  /* mix-blend-mode: multiply; */
}

.navbar {
  overflow: hidden;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  top: 0;
  position: sticky;
  z-index: 1000;
}

.navbar-left, .navbar-right {
  margin: 0 150px;
}

.navbar a {
  font-size: 16px;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
/* navbar color hover */
.navbar a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #1C17FF;
  bottom: 0;
  left: 50%;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover::after {
  width: 100%;
  left: 0;
}

.navbar .home-logo-group a:hover::after {
  width: 0;
}

.navbar .home-logo-group a:hover {
  text-decoration: none;
  background-color: transparent;
}

/* navbar font color */
.navbar a:visited {
  color: #000000;
}

h3 {
  margin-top: 40px;
  text-align: center;
}

h4 {
  text-align: center;
}

#grad1 {
  min-height: 100vh;
  background-color: #000085;
  /* background-image: linear-gradient(#007BFF, #000085); */
  background: #F1F5F8;
}

html {
  scroll-behavior: smooth;
}

.about-list {
  list-style: none;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 19px;
  text-align: left;
  color: #FFFFFF;
}

.about-list li {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Plans */
.plans-container {
  display:flex;
  justify-content: center;
}

.plan-box li {
  margin-bottom: 10px;
  padding: 0;
  line-height: 1.5;
}

.plans-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.plan-box {
  width: 350px;
  height: auto;
  border: 1px solid #FFFFFF;
  padding: 30px;
  margin: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #6495ED;
  color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.plan-box:hover {
  transform: scale(1.05);
}

.plan-box h3 {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.plan-box p {
  color: #FFFFFF;
  padding: 20px;
  flex-grow: 1;
  line-height: 1.5;
  font-size: 1.1em;
  text-align: left;
}

.plan-box button {
  background-color: #282829;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plan-box button:hover {
  background-color: #1a1a1a;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

/* Contact us */

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #6495ED;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

.contact-form button {
  background-color: #282829;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #1a1a1a;
}

/* Success Stories */

.stories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 40px auto;
}

.story-card {
  width: calc(26% - 20px);
  margin: 0 10px 20px;
  background-color: #6495ED;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
}

.story-card:hover {
  transform: scale(1.05);
}

.story-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.story-card h3 {
  margin-top: 20px;
}

.story-card p {
  margin-top: 10px;
}

/* About us */

.about-list {
  width: 75%;
  margin: 40px auto;
  padding: 30px;
  background-color: #6495ED;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  color: #FFFFFF;
  line-height: 1.6;
}

.about-list li {
  margin-bottom: 20px;
}

.about-list li:last-child {
  margin-bottom: 0;
}

/* Account */
#account-title {
  margin-bottom: 40px;
}

.form-container {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #6495ED;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.form-container h3 {
  margin-bottom: 20px;
}

.form-container div {
  margin-bottom: 15px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #6ECB5A;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #5cba53;
}

/* Start here button */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;  /* or whatever margin you need */
  margin-bottom: 40px;  /* or whatever margin you need */
}

.big-button {
  font-size: 20px;
  padding: 13px 36px;
  background-color: #1C17FF;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #282829;
  font-weight: bold;
}

.big-button:hover {
  background-color: #020080;
  color: #FFFFFF;
}

.maximize-h2 {
  font-size: 30px;
}

.highlighted {
  display: block;
  color: #1C17FF;
  font-size: 1.2em;
}

.highlighted::selection {
  color: auto;
  background: #ADDBF1;
}

.transform-h3 {
  margin-top: 50px;
  font-size: 15px;
}

.major-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.major-button {
  cursor: pointer;
  color: #1C17FF;
  background-color: #FFFFFF;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #1413CC;
  font-weight: bold;
  text-align: center;
}

.major-button:hover {
  background-color: #F1F5F8;
}


h2 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #000000; /* Updated font color */
}

/* personal plan */
.pp {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  color: white; /* Changed text color to white */
  background-color: #6495ED; /* Added background color */
  width: 100%; /* Makes the container stretch horizontally */
  padding: 10px; /* Adds some padding inside the container */
  box-sizing: border-box; /* Ensures padding doesn't affect the total width */
}

.personal-plan {
  /* border: 2px solid #F5F5DC; */
  width: 400px;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  text-align: left;
}

h3 {
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #000000; /* #77000085 */ 
}

.learn-about-button {
  font-size: 24px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  margin-top: 80px;
}

.learn-plans-button {
  font-size: 24px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  margin-top: 80px;
}

.basicdiv{
  display: flex;
  flex-direction: column;
}

#lets-basics {
  margin-bottom: 40px;
}

#basics-title {
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 40px;
}

.nFac{
  margin-top: 160px;
  font-size: 14px;
  color: #000000;
}

#gateaway{
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.category-box {
  max-width: 600px;
  border: 1px solid #FFFFFF;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.category-box label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.category-box button {
  background-color: #4caf50;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

.category-box button:hover {
  background-color: #45a049;
}

#basics-labels {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 15px;
}

/* ******** */

.category-container {
  margin-bottom: 20px;
}

.category-box {
  width: 550px; /* Fixed width for the container */
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #6495ED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-box textarea {
  text-align: left;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
  min-height: 60px;
}

.category-box h3 {
  margin-bottom: 10px;
}

.category-box input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  min-height: 80px; /* Change this value to your desired height */
  display: center;
}


.category-box button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.category-box button:hover {
  background-color: #45a049;
}

.category-box .remove-button {
  background-color: #ff6767;
  margin-top: 5px;
}

.category-box .add-more-button {
  background-color: #4caf50;
}

.category-box .add-more-button:hover {
  background-color: #45a049;
}

/* major */

.select-container select {
  width: 300px;
  appearance: none;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
  color: #000;
  font-size: 16px;
}

.select-container::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 10px;
  padding: 10px;
  background: none;
  color: #000;
  pointer-events: none;
  width: 300px;
}

.select-container:hover::after {
  color: #45a049;
}

.category-box select {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #f3f3f3;
  font-size: 16px;
  color: #444;
  transition: border-color 0.3s ease;
  appearance: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align-last: center;
}

.category-box select:focus {
  border-color: #6ecb5a;
  width: 250px;
}

#generate-activities {
  padding: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 40px;
}

#generate-activities:hover {
  background-color: #45a049;
}

.cs-internship {
  /* border: 2px solid #F5F5DC; */
  width: 400px;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  text-align: left;
}

.cs-internship ul {
  padding-left: 0;
  list-style-position: inside;
}

.cs-internship li {
  margin-left: 0;
  padding-left: 0;
}

#activ-title {
  font-size: 27px;
  color: #FFFFFF; /* You may want to change this to something more visible against the dark background */
  text-decoration: underline;
  font-style: italic;
  background-color: #6495ED; /* Background color */
  width: 100%; /* Stretch across the full width */
  padding: 10px; /* Some padding to give space around the text */
  box-sizing: border-box; /* Ensures padding doesn't affect the total width */
  margin: 5; /* Remove any margins */
}

.intern-title {
  font-weight: bold;
  background: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  position: relative;
}

.intern-title:after {
  content: '';
  position: absolute;
  left: 0; right: 0; bottom: 0;
  height: 2px;
  background-image: linear-gradient(to right, red, blue);
}

.my-link:visited {
  color: blue;
}


.cs-internships {
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
}

/* Pet projects */

.cs-pet {
  /* border: 2px solid #F5F5DC; */
  width: 400px;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  text-align: left;
}

.cs-pet ul {
  padding-left: 0;
  list-style-position: inside;
}

.cs-pet li {
  margin-left: 0;
  padding-left: 0;
}

.cs-pets {
  display: flex;
  flex-wrap: wrap;
}

/* Hackathons */

.cs-hackathon {
  /* border: 2px solid #F5F5DC; */
  width: 400px;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  text-align: left;
}

.cs-hackathon ul {
  padding-left: 0;
  list-style-position: inside;
}

.cs-hackathon li {
  margin-left: 0;
  padding-left: 0;
}

.cs-hackathons {
  display: flex;
  flex-wrap: wrap;
}

/* Coding Competitions */

.cs-research {
  /* border: 2px solid #F5F5DC; */
  width: 400px;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  text-align: left;
}

.cs-research ul {
  padding-left: 0;
  list-style-position: inside;
}

.cs-research li {
  margin-left: 0;
  padding-left: 0;
}

.cs-researches {
  display: flex;
  flex-wrap: wrap;
}

/* Bootcamps */

.cs-bootcamp {
  /* border: 2px solid #F5F5DC; */
  width: 400px;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  text-align: left;
}

.cs-bootcamp ul {
  padding-left: 0;
  list-style-position: inside;
}

.cs-bootcamp li {
  margin-left: 0;
  padding-left: 0;
}

.cs-bootcamps {
  display: flex;
  flex-wrap: wrap;
}

/* Loading */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #000;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999; 
}

#videoBackground {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}